<header
    {% if pageType === 'home' %}
        class="absolute w-full px-8 py-4 md:px-16"
    {% else %}
        class="bg-blue px-8 py-5 md:px-16"
    {% endif %}
>

    <div class="md:hidden absolute right-4 top-4 z-20">

        <button
            class="h-20 w-20 md:h-40 md:w-40"
            x-bind:class="{
                'animate-turn' : navOpen,
                'animate-turn-reverse' : !navOpen && triggered
            }"
            x-on:click="navOpen = !navOpen; triggered = true"
        >
            <img src="/svgs/helm.svg" alt="" role="presentation" />
        </button>

    </div>

    <nav class="hidden md:flex justify-end">

        <ul
            {% if pageType === 'home' %}
                class="flex gap-8 text-xl text-blue-dark"
            {% else %}
                class="flex gap-8 text-xl text-white"
            {% endif %}
        >

            {% include "./nav.njk" %}

        </ul>

    </nav>

    <div
        class="md:hidden fixed bg-no-repeat overflow-y-scroll bg-cover w-full h-full z-10"
        style="background-image: url('/svgs/sail.svg');"
        x-transition:enter="transition ease-in-out duration-1000"
        x-transition:enter-start="translate-x-full"
        x-transition:enter-end="translate-x-0"
        x-transition:leave="transition ease-in-out duration-1000"
        x-transition:leave-start="translate-x-0"
        x-transition:leave-end="translate-x-full"
        x-show="navOpen"
        x-cloak
    >
        <div class="max-w-xl flex h-full pl-20 sm:pl-30 pt-20">

            <nav role="navigation">

                <ul class="space-y-8 text-3xl">

                    {% include "./nav.njk" %}

                </ul>

            </nav>

        </div>
    </div>

</header>
