<li><a class="font-serif text-inherit p-2 rounded hover:bg-dark-blue hover:text-white transition-colors duration-200" href="/">Home</a></li>
<li><a class="font-serif text-inherit p-2 rounded hover:bg-dark-blue hover:text-white transition-colors duration-200" href="/portfolio.html">Portfolio</a></li>
<li><a class="font-serif text-inherit p-2 rounded hover:bg-dark-blue hover:text-white transition-colors duration-200" href="/about.html">About Me</a></li>
