{% extends './layouts/subpage.njk' %}

{% set pageTitle = 'About Me' %}

{% block mainContent %}

    <div class="prose max-w-2xl">

        <p>My name is Josiah Schaefer and I am a web developer living near the Indianapolis area. I come from a Psychology background and have worked a couple of years in the social field before switching to a career in Web Development 10 years ago.</p>
        <p>I have 5 kids, two boys and 3 girls (including twins).</p>

        <img src="/img/josiah-family.jpg" alt="Picture of Josiah with his family." />

        <p>My boys’ names are Benjamin and Gabriel. The girls are Emberlyn, Madelyn, and Brielle. I've been dating my girlfriend Jacqui for over a year now. These guys keep us pretty busy, but they are also a joy to have and keep us plenty entertained. After a hard day at work, they greet me at the door with happiness and little hugs and make it feel all worth it.</p>

        <p>I try to keep a good work/life balance so I can spend time with Jacqui and the kids. Family is really important to me.</p>

    </div>

{% endblock %}
