{% extends './layouts/subpage.njk' %}

{% set pageTitle = 'Portfolio' %}

{% block mainContent %}

    <script>
        let websites = [
            {
                "name": "Mindscape",
                "url": "https://www.health.harvard.edu/mindscape",
                "image": "../src/img/mindscape.jpg"
            },
            {
                "name": "Harvard Health Publishing",
                "url": "https://www.health.harvard.edu",
                "image": "../src/img/harvard.jpg"
            },
            {
                "name": "Gadellnet",
                "url": "https://gadellnet.com/",
                "image": "../src/img/gadellnet.jpg"
            },
            {
                "name": "Pedcor Living",
                "url": "https://www.pedcorliving.com/",
                "image": "../src/img/pedcorliving.jpg"
            },
            {
                "name": "Pedcor Companies",
                "url": "https://pedcorcompanies.com/",
                "image": "../src/img/pedcorcompanies.jpg"
            },
            {
                "name": "HGC Industries",
                "url": "https://www.hgcindustries.com/",
                "image": "../src/img/hgc.jpg"
            },
            {
                "name": "Parker Technology",
                "url": "https://www.parkertechnology.com/",
                "image": "../src/img/parkertechnology.jpg"
            },
            {
                "name": "Work and Learn Indiana",
                "url": "https://www.workandlearnindiana.com/",
                "image": "../src/img/wli.jpg"
            },
            {
                "name": "Trio Properties",
                "url": "http://trioproperties.com/",
                "image": "../src/img/trioproperties-opt.jpg"
            },
            {
                "name": "Victory Surfaces",
                "url": "https://victorysurfaces.com/",
                "image": "../src/img/victorysurfaces-opt.jpg"
            },
        ];
    </script>

    <div x-data="{ websites: websites }">

        <h2 class="sr-only">Website List</h2>

        <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">

            <template x-for="website in websites">

                {% include 'template-parts/card.njk' %}

            </template>

        </div>
    </div>

{% endblock %}
