<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/img/anchor-dark.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pageTitle }}</title>

    <style>
        /* Critical CSS */
        .sidenav {
                transform: translate3d(100%, 0, 0);
        }

        .sidenav-open {
                transform: translateX(0);
        }
    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  </head>
  <body
    class="overflow-x-hidden"
    x-bind:class="{ 'h-full overflow-hidden': navOpen }"
    x-data="{
        navOpen: false,
        triggered: false,
    }"
  >

    {% include "../template-parts/header.njk" %}

    <main
        {% if pageType === 'home' %}
            class="flex flex-col min-h-screen"
        {% else %}
            class="flex flex-col min-h-screen"
        {% endif %}
    >

        {% block content %}{% endblock %}

    </main>

    <script type="module" src="/src/js/main.js"></script>
  </body>
</html>
