<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <style>
        /* Critical CSS */
        .sidenav {
                transform: translate3d(100%, 0, 0);
        }

        .sidenav-open {
                transform: translateX(0);
        }
    </style>

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Quicksand:400,600" rel="stylesheet">
  </head>
  <body
    x-bind:class="{ 'h-full overflow-hidden': navOpen }"
    x-data="{
        navOpen: false,
        triggered: false,
    }"
  >

    {% include "../template-parts/header.njk" %}

    <main
        {% if pageType === 'home' %}
            class="bg-blue-gray flex flex-col min-h-screen"
        {% else %}
            class="flex flex-col min-h-screen"
        {% endif %}
    >

        {% block content %}{% endblock %}

    </main>

    <script type="module" src="/src/js/main.js"></script>
  </body>
</html>
